/* Scss Document */

@charset "UTF-8";
/*! ============================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
============================================= */


// --------------------------------------------
// Style Guide
// 基本的な考えは、OOCSSベース。
// 
// #命名規則
// MindBEMdingをベースに以下のルールで記載。
// block__element--modifier
// ※Blockが複数単語になる場合は、「blockName」のようにキャメルケースにする。
// ※分かりやすいクラス名は略名にする。
// ※Block, Element, Modifierは、まとめて同じ箇所に記述する。
// --------------------------------------------


// ============================================
// import css
// ============================================

//reset css
@import "_base.scss";
// "slick" slide show
@import '_slick.scss';
@import '_slick-theme.scss';
// "Delighters" scroll effect
@import '_delighters.scss';
// settings
@import '_settings.scss';
// module
@import '_module.scss';
// component
@import '_g_header_fixed.scss'; // JMA menu
//@import '_c_headinfo.scss'; // headInfo in header
@import '_c_navi.scss'; // navi in header
//@import '_c_megamenu.scss'; // megamenu in header
@import '_c_keyvisual.scss'; // keyVisual
@import '_c_information.scss'; // What's New
//@import '_c_contact.scss'; // contact in footer
@import '_c_footer.scss'; // nav in footer
//@import '_c_timetable.scss'; // timeTable
//@import '_c_fee.scss'; // booth & fee
//@import '_c_qanda.scss'; // Q&A
//@import '_c_download.scss'; // logo,banner download


// --------------------------------------------
// Project
// --------------------------------------------

// lower ------------------------------
.lower {
	@include space;
	background-color: white;
	&--inner {
		max-width: $width-main;
		@include media(sp) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__photo {
		max-width: 500px;
		@include space;
		margin: 0 auto 30px;
		overflow: hidden;
		img {
			max-width: 500px;
		}
	}
	&__btn {
		max-width: 700px;
		margin: 0 auto 80px;
	}
	&__define {
		max-width: 700px;
		margin: 0 auto;
		dt {
			clear: left;
			float: left;
			width: 8em;
			background-color: $color-main;
			color: white;
			padding: 7px 10px;
			@include media(sp) {
				float: none;
				width: 100%;
			}
		}
		dd {
			//padding-left: 10em;
			padding: 7px 10px 7px 10em;
			margin-bottom: 10px;
			background-color: $color-sub2;
			@include media(sp) {
				padding: 7px 10px;
			}
		}
	}
	&__append {
		max-width: 700px;
		margin: 0 auto 80px;
		@include font-size(14);
	}
	&__fig {
		max-width: 800px;
		margin: 0 auto 80px;
	}
}

// JMA nav ------------------------------
#global_link {
	padding: 5px 10px;
	@media screen and (max-width: 980px) {
		display: none;
	}
}

// nav ------------------------------
nav {
	background-color: $color-main;
	box-shadow: 0px 9px 3px -3px rgba(black, 0.1);
	position: relative; // for box-shadow
	z-index: 2; // for box-shadow
}

// keyVisual ------------------------------
.keyVisual {
	margin-top: 100px;
	@media screen and (max-width: 980px) {
		margin-top: 45px;
	}
}

// about ------------------------------
.about {
	@include space;
	@include space-btm2;
	background: url(#{$imgDir}bg01.jpg) center 20% no-repeat;
	background-size: cover;
	&--inner {
		@include media(sp) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__title {
		img {
			max-width: 180px;
			margin-right: 30px;
		}
		span {
			display: inline-block;
			margin-bottom: 35px;
		}
	}
	&__desc {
		text-align: center;
		&__m {
			@include font-size(18);
		}
		&__l {
			@include font-size(25);
		}
	}
}

// concept ------------------------------
.concept {
	@include space;
	&__title {
		margin-bottom: 0;
	}
	figure {
		max-width: 750px;
		margin: 0 auto;
	}
}

// vision ------------------------------
.vision {
	figure {
		max-width: 750px;
		margin: 50px auto 20px;
	}
}

// mission ------------------------------
.mission {
	@include space;
	&--inner {
		max-width: $width-main;
		@include media(sp) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__bnr {
		max-width: 420px;
		margin: 0 auto;
		a {
			display: block;
			width: 100%;
			background-color: white;
			border: 2px solid $color-main;
			padding: 20px 40px;
			@include hoverOpc;
		}
	}
}

// outline ------------------------------
.outline {
	@include space;
	&--inner {
		text-align: center;
	}
	&__unit {
		display: inline-block;
		text-align: left;
	}
	&__define {
		dt{
			clear: left;
			float: left;
			width: 6em;
			background-color: darken($color-sub1, 40%);
			color: white;
			padding-left: 1em;
			@include media(sp) {
				float: none;
				margin-bottom: 5px;
			}
		}
		dd {
			padding-left: 10em;
			padding-right: 1em;
			padding-bottom: 8px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			@include media(sp) {
				padding-left: 0;
			}
		}
	}
}

// btn-contact ------------------------------
.btn-contact {
	@include space;
	background-color: white;
	&--inner {
		max-width: 700px;
		@include media(sp) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

// program ------------------------------
.program {
	padding: 80px 0;
	&__topTitle {
		@include font-size(36);
		color: $color-main;
		font-weight: bold;
		text-align: center;
		@include media(sp) {
			@include font-size(28);
		}
	}
	&__title {
		@include font-size(22);
	}
	&__list {
		padding: 0 20px;
		li {
			line-height: 2;
			@include font-size(18);
		}
	}
	&__list2 {
		@extend .program__list;
		li {
			&:before {
				content: "●";
				color: $color-main;
				margin-right: 5px;
			}
		}
	}
	&__tbl {
		@extend .tableBase;
		tr {
			&:nth-child(even) td {
				background-color: lighten($color-main, 34%);
				@include media(sp) {
					background-color: transparent;
				}
			}
			td + td {
				border-left: 1px solid $color-main;
				@include media(sp) {
					border-left: transparent;
				}
			}
		}
		&__month {
			font-weight: 500;
			@include media(sp) {
				border-bottom: 1px solid $color-main;
			}
		}
		&__desc {
			@include media(sp) {
				margin-bottom: 20px !important;
			}
		}
		&__title {
			font-weight: bold;
			@include font-size(18);
		}
		&__place {
			display: inline-block;
			background-color: lighten($color-sub1, 8%);
			@include font-size(15);
			padding: 0 10px;
		}
	}
	&__sdg {
		max-width: 700px;
		margin: 0 auto;
	}
}

// member ------------------------------
.member {
	padding-top: 80px;
	&__title {
		@include font-size(22);
	}
	&__refer {
		padding-left: 20px;
		font-weight: 500;
	}
	&__list {
		padding: 0 20px;
		li {
			@include indent(1);
			&:before {
				content: "●";
				color: $color-main;
				margin-right: 5px;
			}
		}
	}
	&__fig {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		li {
			width: 48%;
		}
	}
}

// for scroll effect ------------------------------
.about, .concept, .vision, .mission, .outline {
	overflow: hidden;
}

